*{
    margin: 0;
    border: 0;
    padding: 0;
    color: #353535;
}

header{
    padding: 10px;
    background-color: #e0e0e0;
}

main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #b2b2b2;
}

#frase{
    text-align: center;
    font-style: italic;
    font-size: 32px;
}

#autor{
    text-align: end;
    font-size: 16px;
}
